<div class="red lighten-5" style="margin-top: 40px;">
    <div class="container" style="padding-top: 40px; padding-bottom: 100px;">
        <div class="row center">
            <p style="font-size: 50px; margin: 50px 0px;" >#Activities</p>
        </div>
        <div class="row">
            <mat-card>
                <mat-card-header>
                  <mat-card-title>Weekly Problem Solving 2020</mat-card-title>
                  <mat-card-subtitle>Application Deadline: 19 December 2020</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    This program is specially for 1st year students to improve their programming skills. We will be giving you some problems to solve over the entire week. But, you will be expected to make daily progess in the problems. The problems will help you enhance your data structures knowledge and you will also be able to see a significant progess in your ranks in Coding Competitions if you solve most of the problems provided.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <div style="width: 100%; height: 40px;">
                    <a class="right btn green accent-3" mat-button href="/WPS2020">Open <mat-icon>play_arrow</mat-icon></a>
                  </div>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>