::ng-deep mat-dialog-container {
    background-color: transparent !important;
  }
.googleForm{
  width: 600px;
  height: inherit;
}
.formCover{
  height: 95vh;
}
@media screen and (max-width: 600px) {
  .googleForm{
    width: 100%;
  }
  .formCover{
    height: 70vh;
  }
  ::ng-deep .cdk-overlay-pane{
    width: 100%;
    max-width: 100% !important;
  }
  ::ng-deep mat-dialog-container {
    padding: 0 !important;
  }
}