<div class="navbar-fixed" style="position: fixed; top: 0;">
  <nav class="black" role="navigation">
    <div class="nav-wrapper container">
      <div class="brand-logo" style="height: 100%; font-size: 16px;" >
        <a href="./" ><img src="assets/cc.png" style="height: 100%; padding: 10px;"></a>
        <a href="./" class="brand-logo hide-on-med-and-down" style="font-size:20px;">Coding&nbsp;Club&nbsp;IIT&nbsp;Jammu</a>
      </div>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/member">Members</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
<ul id="nav-mobile" class="sidenav blue lighten-5" style="padding-top: 20px;">
  <li><a href="/">Home</a></li>
  <li><a href="/team">Team</a></li>
  <li><a href="/member">Members</a></li>
</ul>
<router-outlet></router-outlet>   
<footer class="page-footer blue">
  <div>
    <div class="row">
      <div class="col m4 s12 offset-l1" id="icons" style="padding-bottom: 15px;">
        <h5 class="white-text">Connect</h5>
        <a href="" target="_blank"><i class="fa fa-instagram" aria-hidden="true" style="font-size: 30px;"></i></a>
        <a href="" target="_blank"><i class="fa fa-facebook" aria-hidden="true" style="font-size: 30px;"></i></a>
        <a href="" target="_blank"><i class="fa fa-linkedin" aria-hidden="true" style="font-size: 30px;"></i></a>
        <a href="" target="_blank"><i class="fa fa-github" aria-hidden="true" style="font-size: 30px;"></i></a>
      </div>
      <div class="col m4 s12 right">
        <h6 class="grey-text text-lighten-4" style="font-size: 1rem; line-height: 120%;">
          Coding Club<br>
          Indian Institute of Technology Jammu<br>
          Jagti, NH-44 , PO Nagrota<br>
          Jammu - 181 221 J&K,  India
        </h6>
        <h6 class="grey-text text-lighten-4">
          <i>codingclub@iitjammu.ac.in</i>
        </h6>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      Made With <i class="material-icons">favorite</i> by Coding Club IIT Jammu
    </div>
  </div>
</footer>