<div id="index-banner" class="parallax-container valign-wrapper" style="height: 100%;background-color: rgba(0, 0, 0, 0.6);">
  <div class="section no-pad-bot" style="width: 100%;" >
    <div class="container">
      <div class="row">
        <div class="col m8 s10 offset-s1 offset-m2">
          <h1 class="white-text welcomeText"><b>{{welcomeText}}</b></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/esaias-tan-MKvjc2kar7Q-unsplash.jpg"></div>
</div>
  <div class="container">
    <div class="section">
      <a class="anchor" id="about"></a>
      <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h1 style="font-size: 2.5rem;">Hello World</h1>
          <p class="light" style="font-size: 20px; text-align: justify;line-height: 1.2;">{{about_text}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax-container valign-wrapper" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="section no-pad-bot" style="width: 100%;">
      <div class="container">
        <div class="row center white-text">
          <h5 class="header col s12 light"><b>"The art of programming is the art of organizing complexity." </b><br><br>
          <i class="green-text right">– Edsger Dijkstra</i></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/pietro-jeng-n6B49lTx7NM-unsplash.jpg"></div>
  </div>
  